.search-form{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: 50px;
  transform: translateX(-4em);
}
.search-bar{
  width: 60%;
  padding-left: 10px;
}

.search-input{
  font-size: 40px;
  text-align: center;
}

#search-clear-button{
  font-size: 2em;
  text-align: end;
}

.search-label{
  font-size: 40px;
  align-self: flex-end;
}
