<div class="spinnerWrapper" *ngIf="!show && !isError">
  <mat-spinner></mat-spinner>
</div>

<h1 *ngIf="isError" class="animation">An error occured! Please refresh the page!</h1>

<div *ngIf="show && !isError" class="wrapper animation">
  <div class="detailsWrapper">
    <h1>
      {{ show.title }} <span *ngIf="show.year">({{ show.year }})</span>
    </h1>
    <h1 *ngIf="show.aired_episodes">
      Number of episodes: {{ show.aired_episodes }}
    </h1>

    <h1 *ngIf="show.overview">Overview: {{ show.overview }}</h1>

    <div *ngIf="show.genres">
      <h1>
        Genre(s):
        <button
          *ngFor="let genre of show.genres"
          mat-raised-button
          color="accent"
        >
          {{ genre }}
        </button>
      </h1>
    </div>
    <h1 *ngIf="show.language">
      Language:
      <button mat-raised-button color="accent">{{ show.language }}</button>
    </h1>

    <div *ngIf="!seasons">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="seasons" class="animation">
      <h2>Seasons</h2>
      <mat-expansion-panel *ngFor="let season of seasons" style="margin: 1rem">
        <mat-expansion-panel-header>
          <h1>Season {{ season.number }}</h1>
        </mat-expansion-panel-header>
        <div *ngFor="let episode of season.episodes" style="margin-left: 1rem">
          <h2>
            Episode: {{ episode.number }}<h3><i>"{{ episode.title }}"</i></h3>
          </h2>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
  <div>
    <h1 *ngIf="show.rating">Rating: {{ show.rating }}</h1>
    <h1 *ngIf="show.votes">Votes: {{ show.votes }}</h1>
  </div>
</div>
