.cardHolder{
  width: 1280px;
  height: 395px;
  display: flex;
  flex-wrap: wrap;
}

.wrapper{
  display: flex;
  justify-content: center;

}
.pageCounter {
  align-self: center;
  margin: 10px;
}
.navWrapper {
  animation: fadeIn 1s ease-in 0.2s 1 backwards, slideInFromBelow 1.2s;
  margin-bottom: 60px;
}



