<div>
  <div class="wrapper" *ngIf="!loading">
    <div class="cardHolder">
      <a *ngFor="let record of records" [routerLink]="[type+'s', record.ids.trakt]">
      <movie-show-button
        [title]="getRecordTitle(record)"
        [badgeCount]="record.watchers"
        (onButtonClicked)="recordClicked(record)"
        [type]="record.type"
      ></movie-show-button>
    </a>
    </div>
  </div>
  <div class="navWrapper wrapper" *ngIf="!loading">

    <button
    mat-button
    [disabled]="currentPageNumber <= 1"
    (click)="firstPage()"
    >
      first
    </button>


    <button
      mat-button
      [disabled]="currentPageNumber <= 1"
      (click)="previousPage()"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div class="pageCounter">{{ totalPages > 0? currentPageNumber: 0 }}/{{ totalPages }}</div>
    <button
      mat-button
      [disabled]="currentPageNumber>= totalPages"
      (click)="nextPage()"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>

    <button
      mat-button
      [disabled]="currentPageNumber>= totalPages"
      (click)="lastPage()"
    >
      Last
    </button>
  </div>

  <div class="spinnerWrapper" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <router-outlet></router-outlet>
</div>
