.wrapper {
  display: flex;
  justify-content: center;
  padding: 1em;

}
.details-wrapper {
  width: 70%;
}
.cast-member{
  display: flex;
  padding-left: 1rem;
}
.characters-wrapper {
  display: flex;
}

.characters-wrapper > h2{
  margin-left: 1rem;
}

