<div class="spinnerWrapper" *ngIf="!movie">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="movie" class="wrapper">
  <div class="detailsWrapper">
    <h1>
      {{ movie.title }} <span *ngIf="movie.year">({{ movie.year }})</span>
    </h1>
    <h1 *ngIf="movie.tagline">
      <i>{{ movie.tagline }} </i>
    </h1>

    <h1 *ngIf="movie.overview">Overview: {{ movie.overview }}</h1>

    <div *ngIf="movie.genres">
        <h1>Genre(s): <button *ngFor="let genre of movie.genres" mat-raised-button color="accent">{{genre}} </button></h1>
    </div>
    <h1 *ngIf="movie.language">Language: <button mat-raised-button color="accent"> {{ movie.language }}</button></h1>
  </div>
  <div>
    <h1 *ngIf="movie.rating">Rating: {{ movie.rating }}</h1>
    <h1 *ngIf="movie.votes">Votes: {{ movie.votes }}</h1>
  </div>
</div>
