.wrapper {
  display: flex;
  justify-content: center;
  padding: 1em;
  animation: fadeIn 1s, slideInFromBelow 1s;
}

.detailsWrapper {
  width: 70%;
}
.castMember{
  display: flex;
  padding-left: 1rem;
}
.charactersWrapper {
  display: flex;
}

.charactersWrapper > h2{
  margin-left: 1rem;
}

.castMembers{
  animation: fadeIn 1s, slideInFromBelow 1s;
}
