<div class="spinnerWrapper" *ngIf="!movie && !isError">
  <mat-spinner></mat-spinner>
</div>
<h1 *ngIf="isError" class="animation">An error occured! Please refresh the page!</h1>
<div *ngIf="movie  && !isError" class="wrapper animation">
  <div class="detailsWrapper">
    <h1>
      {{ movie.title }} <span *ngIf="movie.year">({{ movie.year }})</span>
    </h1>
    <h1 *ngIf="movie.tagline">
      <i>{{ movie.tagline }} </i>
    </h1>

    <h1 *ngIf="movie.overview">Overview: {{ movie.overview }}</h1>

    <div *ngIf="movie.genres">
        <h1>Genre(s): <button *ngFor="let genre of movie.genres" mat-raised-button color="accent">{{genre}} </button></h1>
    </div>
    <h1 *ngIf="movie.language">Language: <button mat-raised-button color="accent"> {{ movie.language }}</button></h1>

    <div *ngIf="!castMembers">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="castMembers" class="animation">
      <h1>Cast:</h1>
      <div *ngFor="let castMember of castMembers" class="castMember">
        <a [routerLink]="['/people', castMember.person.ids.trakt]"><h2>{{castMember.person.name}}: </h2></a>
        <div class="charactersWrapper">
          <h2 *ngFor="let character of castMember.characters; let idx = index">
            {{character}}<span *ngIf="idx<castMember.characters.length-1">,</span>
          </h2>
        </div>
      </div>
    </div>


  </div>
  <div>
    <h1 *ngIf="movie.rating">Rating: {{ movie.rating | number }}</h1>
    <h1 *ngIf="movie.votes">Votes: {{ movie.votes }}</h1>
  </div>


</div>
