.wrapper {
  display: flex;
  justify-content: center;
  padding: 1em;

}
.detailsWrapper {
  width: 70%;
}
.castMember{
  display: flex;
  padding-left: 1rem;
}
.charactersWrapper {
  display: flex;
}

.charactersWrapper > h2{
  margin-left: 1rem;
}

