<div>
  <search-bar (onSearchTermChanged)="searchTermChanged($event)"></search-bar>
  <div *ngIf="searchTerm">
    <div class="wrapper">
      <mat-button-toggle-group name="search for" aria-label="Search For">
        <mat-button-toggle
          [checked]="searchForMovies"
          (change)="searchForMovies = $event.source.checked"
          value="movie"
          >Movie</mat-button-toggle
        >
        <mat-button-toggle
          [checked]="!searchForMovies"
          (change)="searchForMovies = !$event.source.checked"
          value="shoe"
          >Show</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
  </div>

  <mat-tab-group mat-align-tabs="center" *ngIf="!searchTerm">
    <mat-tab label="Popular Movies">
      <records-tab type="movie" query="popular"></records-tab>
    </mat-tab>
    <mat-tab label="Trending Movies">
      <records-tab type="movie" query="trending"></records-tab>
    </mat-tab>
    <mat-tab label="Popular Shows">
      <records-tab type="show" query="popular"></records-tab>
    </mat-tab>
    <mat-tab label="Trending Shows">
      <records-tab type="show" query="trending"></records-tab>
    </mat-tab>
  </mat-tab-group>

  <records-tab
    *ngIf="searchTerm"
    [searchType]="getSearchType()"
    [searchTerm]="searchTerm"
    [searchAfter]="getSearchAfter()"
  ></records-tab>
</div>
